* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  font-family: "Rufina", serif;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}
ul,
li {
  text-decoration: none;
  list-style: none;
}
img {
  width: 100%;
  display: block;
}
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
