.product__details {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart img {
  max-width: 400px;
  margin-right: 30px;
}
.details h2 {
  font-size: 30px;
  font-style: italic;
  margin: 14px 0;
}
.details p {
  font-size: 20px;
  line-height: 25px;
}
.description {
  color: rgba(0, 0, 0, 0.6);
}
.btn {
  margin-top: 14px;
  padding: 8px 15px;
  background-color: rgb(245, 209, 8);
  border-radius: 8px;
  font-weight: 600;
  transition: ease-in-out 0.5s;
}
.btn:hover {
  background-color: rgb(53, 255, 3);
}
.related__product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 425px) {
  .related__product {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
}
