.header {
  background-image: url(../../assets/banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search__input {
  padding: 8px;
  padding-right: 40px;
  width: 50vw;
  border: none;
  outline: none;
}
.btn {
  margin-left: -30px;
}
