.product__section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
}
