.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 3%;
  background-color: rgba(0, 0, 0, 0.514);
  color: #111;
}
.logo {
  color: #111;
}

.nav__right {
  display: flex;
  justify-content: content;
  align-items: center;
}
.nav__right li {
  padding: 0 14px;
}
.login {
  color: #111;
  font-size: 18px;
}
.cart {
  display: flex;
  position: relative;
  color: #111;
}
.cart__logo {
  width: 24px;
  height: 24px;
  color: #111;
}
.cart span {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 18px;
  font-weight: 400;
}
