.footer__section {
  background-color: var(--btn-bg);
  color: var(--text-white);
  .footer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 80px;
    line-height: 30px;
    .left {
      display: flex;
      // justify-content: space-around;
      width: 50%;
      &__help {
        width: 50%;
      }
      p {
        cursor: pointer;
      }
      &__shop {
        // margin-right: 30px;
      }
    }
    .right {
      width: 50%;
      .newsletter {
        &__form {
          margin-top: 10px;
          display: flex;
          // justify-content: space-between;
          input {
            width: 20vw;
            padding: 7px 10px;
            border: none;
            outline: none;
            @media (max-width: 768px) {
              width: 40vw;
            }
          }
          .btn {
            padding: 5px 20px;
            margin-left: 3%;
            border: none;
            font-weight: 600;
          }
        }
      }
      .clock {
        display: flex;
        color: rgb(51, 247, 12);
        font-size: 26px;
        margin-top: 14px;
        // h2 {
        //   padding: 0 4px;
        // }
      }
    }
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      padding: 30px 10px;
      .left {
        width: 90%;
        justify-content: space-around;
      }
      .right {
        margin-top: 20px;
        width: 90%;
        .newsletter {
          text-align: center;
          &__form {
            display: flex;
            justify-content: center;
          }
        }
        .clock {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
