.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 0 2%;
  background: lightgrey;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  ul {
    display: flex;
    gap: 10px;
  }
}
