.product__item {
  border: 2px solid var(--color-orange);
  margin: 5%;
  border-radius: 10px;
  overflow: hidden;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  &__img {
    height: 70%;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .product__details {
    padding: 10px;
    // height: 30vh;`
  }
  .product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    .product__id {
      font-size: 12px;
      font-style: italic;
    }
  }
  .btn {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    button {
      padding: 4px 8px;
      font-weight: 500;
      border: none;
      background-color: var(--btn-bg);
      border-radius: 6px;
      color: var(--text-white);
      transition: ease-in-out 0.4s;
      &:hover {
        background-color: var(--color-orange);
      }
    }
  }
}
