.products {
  max-width: 1280px;
  margin: 1% auto;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 1080px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2%;
  }
  @media (max-width: 575px) {
    grid-template-columns: 1fr;
    margin-top: 6%;
  }
}
